@charset "UTF-8";

/* Importação da fonte original do game =D */
@font-face {
    font-family: 'Runic MT Std Condensed';
    src: url("fonts/Runic\ MT\ Std\ Condensed.otf");
}

.container-fluid-max-width {
    max-width: 1440px;
}

.header a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Runic MT Std Condensed';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.navbar-gap {
    gap: 10px;
}